<nav>
  <ul class="circulos">
      <li><a href="AgustinaNavarrete17"><span>Agustina</span></a></li>
      <li><a href="CarolinaFerrari"><span>Carolina</span></a></li>
      <li><a href="Gmansnet"><span>German</span></a></li>
      <li><a href="Gonzaloaddamo"><span>Gonzalo</span></a></li>
      <li><a href="Matias-Bertolo"><span>Matias</span></a></li>
      <li><a href="Pablo"><span>Pablo</span></a></li>
      <li><a href="SilvioRosas"><span>Silvio</span></a></li>
      <li><a href="marianars"><span>Mariana</span></a></li>
      <li><a href="vamorilla"><span>Vanesa</span></a></li>
  </ul>
</nav>
